/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* eigen code */
* {
	margin: 0;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	background-color: #80fda8;
}

/* alle tekst */
p {
	font-family: 'Expletus Sans', sans-serif;
}

/* stijling header */
header p {
	background-color: black;
}

header button {
	text-decoration: none;
}

/* kleine grijze button laten verdwijnen */
button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

/* stijling koppen */
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Archivo Black', sans-serif;

}

h1 {
	color: #80fda8;
	background: black;
	text-align: center;
	padding: 0.6em;
	display: block;
	width: 100vw;
}

h2 {
	color: black;
	width: 10vw;
	margin: 3em;
	justify-content: center;
	text-transform: uppercase;
	z-index: 2;
}

h3 {
	text-align: center;
	font-size: x-large;
	padding: 0.5em;
	text-align: center;
	color: black;
}

h4 {
	display: flex;
	color: black;
	padding-bottom: 2em;
	justify-content: center;
	text-decoration: none;
}

h5 {
	color: white;
	text-align: center;
	font-size: larger;
	padding: 2em;
	background-color: black;
}

/* Stijling navigatie */
nav {
	font-family: 'Archivo Black', sans-serif;
	display: flex;
	flex-wrap: wrap;
	color: black;
	justify-content: space-between;
}

nav img {
	width: 10em;
}

nav ul li {
	margin: 1em;
}

nav ul li a {
	text-decoration: none;
	list-style: none;
	color: black;

}

nav li a:hover {
	color: #80fda8;
	background-color: black;
	transition: 0.5s;
}

/* Stijling hamburgermenu foto */
.hamburgermenu {
	min-width: 3em;
	max-width: 3em;
	margin-right: 0.3em;
	margin-top: 0;
	position: absolute;
	top: 0.2em;
	right: 1em;
}

/* Stijling animatie in header */
.lopendeTekst {
	font-style: italic;
	color: white;
	display: block;
	max-height: 3vh;
	white-space: nowrap;
	animation: beweegNaarLinks 80s infinite;
}

span {
	width: 100vw;
}

/* Animatie */
@keyframes beweegNaarLinks {
	from {
		transform: translateX(0%);
		/* Beginpositie helemaal rechts buiten het scherm */
		background-color: black;
	}

	to {
		transform: translateX(-100%);
		/* Eindpositie helemaal links buiten het scherm */
		background-color: black;
	}

	/* Voeg deze regel toe om de achtergrondkleur altijd zwart te houden */
	0%,
	100% {
		background-color: black;
	}
}

/* Stijling inschrijfformulier nieuwsbrief */
.formulier {
	font-family: 'Expletus Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	border-bottom: 3px solid black;
}

.formulier button {
	background-color: black;
	padding: 0.5em;
	color: #80fda8;
}

.formulier input {
	background-color: white;
	border-color: white;
	min-height: 2.3em;
	max-height: 2.3em;
}

/* stijling home pagina */
.homepagina {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

main img {
	width: 100%;
}

.lijn {
	width: 100vw;
}

section {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #80fda8;
}

.hamburger-icon {
	display: none;
	z-index: 2;
}

.menu-items {
	display: flex;
	width: fit-content;
}

@media (max-width: 47em) {
	.hamburger-icon {
		display: inline-block;
		max-width: 2em;
		max-height: 2em;
		margin: 0.5em;
	}

	.logo-header {
		max-height: 3em;
		width: auto;
	}

	nav ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: end;
		flex-direction: column;
	}

	nav a {
		width: 80%;
		height: fit-content;
	}

	nav {
		height: 3.3em;
		transition: all .3s ease;
	}

	nav.open {
		height: 16em;
	}

	#menu {
		transition: all .3s ease;
		opacity: 0;
		transform: translateY(-10em);
	}

	#menu.open {
		opacity: 1;
		transform: translateY(0);
	}

	.homepagina section {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	.homepagina section h2 {
		width: 100%;
		background: #111;
		color: #80fda8;
		margin: 0;
		padding: 1em;
	}

	.homepagina section img {
		width: 100%;
	}
}

/* Stijling line up pagina */
.lineuppagina h2 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 1em;
	font-style: normal;
	background-color: black;
	color: #80fda8;
	width: 100%;
	margin: 0;
	overflow: auto;
	padding: .5em;
}

.lineuppagina h2:hover {
	position: relative;
}

.lineuppagina img {
	margin-bottom: -4px;
	height: auto;
}

.lineuppagina {
	display: flex;
	flex-direction: column;
}

.lineuppagina article {
	width: 100%;
}

/* Stijling desktop line up pagina */
@media (min-width: 47em) {
	.lineuppagina {
		flex-direction: row;
	}

	.lineuppagina article {
		width: 25%;
	}

	.item1 {
		grid-column: 1 / 2;
		align-items: stretch;
	}

	.item2 {
		grid-column: 2 / 3;
		align-items: stretch;
	}

	.item3 {
		grid-column: 3 / 4;
		align-items: stretch;
	}

	.item4 {
		grid-column: 4 / 5;
		align-items: stretch;
	}

	.lineuppagina img {
		max-width: 100%;
		height: auto;
	}
}

/* stijling podia pagina */
.podiafoto {
	margin-bottom: -0.5em;
}

.podiapagina {
	display: flex;
	flex-wrap: wrap;
}

.podiapagina section {
	display: flex;
	flex-direction: column-reverse;
}

.podiapagina article {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	width: 100%;
	align-items: baseline;
}

.podiapagina article a {
	display: block;
	padding: 0.5em;
	background-color: black;
	color: #80fda8;
	font-family: 'Archivo Black', sans-serif;
	margin: 1em;
	text-decoration: none;
}

.podiapagina article a:hover {
	background-color: white;
	position: relative;
	z-index: 3;
	color: black;
}

.podiapagina article p {
	margin: 1em;
}

.podiapagina article h2 {
	width: 100%;
	font-family: 'Expletus Sans', sans-serif;
	font-style: italic;
	margin: 1em;
}

.podiapagina img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

@media (min-width: 47em) {
	.podiapagina {
		display: flex;
		flex-direction: column;
		grid-template-columns: 50% 50%;
		width: 100vw;
	}

	.podiapagina img {
		height: 27em;
	}

	.podiapagina section {
		display: flex;
		flex-direction: row;
	}

	.podiapagina section:nth-of-type(odd) {
		flex-direction: row-reverse;
	}

	.podiapagina article {
		max-width: 50%;
		width: 50%;
	}
}

/* Stijling overzicht van alle partners  */
ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin-right: 1em;
	padding-left: 0;
	justify-content: center;
	width: 100%;
}

ul img {
	min-width: 7em;
	max-width: 7em;
	margin: 1em;
	padding: 0.5em;
}

/* Stijling footer */
footer a {
	width: 100%;
	color: white;
	text-decoration: none;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	width: 100%;
}

footer li {
	min-width: 100%;
	max-width: 100%;
	background-color: black;
	text-align: center;
	padding: 0.5em;
	font-style: italic;
}

footer a {
	background-color: black;
}

footer a:hover {
	color: #80fda8;
}